<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GIFs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            console.log('ready');
            var q = '{{keyword}}';
            // q = "animal"; // search query

            request = new XMLHttpRequest;
            request.open('GET', 'http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=' + q, true);

            request.onload = function () {
                if (request.status >= 200 && request.status < 400) {
                    data = JSON.parse(request.responseText).data.image_url;
                    console.log(data);
                    document.getElementById("giphyme").setAttribute('src', data);
                } else {
                    console.log('reached giphy, but API returned an error');
                }
            };

            request.onerror = function () {
                console.log('connection error');
            };

            request.send();
        });
    </script>

</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <img src="" title="GIF via Giphy"/>
        <br/>
        <a class="btn btn-lg btn-primary" role="button" href="/image/{{count}}">Next</a>
    </div>
</div>

</body>
</html>