<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="https://ec2-54-191-173-129.us-west-2.compute.amazonaws.com/image">Start!</a>
</body>
</html>