<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<p>{{message}}</p>
<br>
<a href="https://ec2-54-191-173-129.us-west-2.compute.amazonaws.com/">Take me home</a>
</body>
</html>